@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #22c55e;
  --secondary-color: #075E54;
  --background-color: #f4fcf7;
  --text-color: #313131;
  --white: #ffffff;
  --font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  width: 400px;
  padding: 20px;
}

.container {
  width: 100%;
}

h1 {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.setting label {
  font-size: 14px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

#status-save {
    margin-top: 15px;
    font-weight: bold;
}